<% if current_user %>
  Hello <%= current_user.name %>!
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <p>
  Would you like to upload a new image?
  </p>

  <%= form_for @image, :url => images_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :picture %>
    <%= form.submit "Upload" %>
  <% end %>

<% else %>
  Welcome to 9gag!

  <p>
  You are not signed in, please <%= link_to "sign_up", new_user_registration_path %>
  or <%= link_to "sign in", new_user_session_path %>.
  </p>
<% end %>

<hr/>
<%= render :partial => "images/all" %>
