<body id="page-landing" class="main-body " data-twttr-rendered="true">

<input type="hidden" id="jsid-track-domain" value="http://t.9gag.com">

<div id="container" style="">
	
<div id="main">

							
			
		

		<div id="block-content">

						<div class="filter-bar ">
				<ul class="content-type">
										<li> <a class="current" href="#"><strong>What's Hot</strong></a></li>
					<li> <a class="" href="#"><strong>Trending</strong></a></li>
					<li> <a class="" href="#"><strong>Vote</strong></a></li>
														</ul>

				



<a class="safe-mode-toggle " href="http://9gag.com/pref/safe-browse?enable=0&url=%2F&nsfw=1">&nbsp;</a>

			</div>


			<div id="content" listpage="hot" data-page-key="hot">

			
				<div id="view-controller">
				</div>


								
<div id="entry-list" class="list">
	<ul id="entry-list-ul" class="col-1">

		
<%= render :partial => "images/all" %>


  </ul>


				
				
<div id="pagination" class="flip" style="text-align:center">
        
                <a id="next_button" class="next" href="http://9gag.com/hot/id/5426497" data-more="5426497" list="hot" data-zone="" style="width:700px;display:none;" data-message="Check out more cool stuff!">I want more fun!</a>
        <a id="more_button" class="next" href="http://9gag.com/hot/id/5426497" data-more="5426497" currpage="1000" list="hot" data-zone="" style="width:700px">More</a>
        <img id="more_img" src="/assets/loading.gif" style="display:none">
    </div><!--end pagination-->



			
			</div>
		</div>
</div>

</div>


<div class="side-dock">


	
	    	                <div id="special-button">
		    		<script type="text/javascript">rmt('http://goo.gl/ktrVc?a=793');</script>

        
				<a class="special-btn green" href="https://9gag.com/signup" label="Sidebar" onclick="rmt(&#39;http://goo.gl/4L7Xz?a=179&#39;);">Y U No Signup?!</a>
			
	    </div>
    
    
    

    	
		
	    

        	

    	

        <div id="top-gag-stay" class="badge-sticky-elements" data-y="72" data-y-offset="0" style="">
		
                        

                    </div>
        
                <div id="jsid-sidebar-footer" class="side-foot ">
            <div class="wrap">
                <div class="fade"></div>
                <div class="text">
                    
<ul class="info footer-left">
	<li>9GAG © 2012</li>
	<li>·<a class="badge-language-selector" href="javascript:void(0);">English ( en )</a></li>
    <li>·<a class="keyboard_link" href="javascript:void(0);">Keyboard shortcuts</a></li>
</ul><!--end ul.footer-left-->

<ul class="info footer-right">
	<li><a href="http://9gag.com/about">About</a></li>
	<li>·<a href="http://9gag.com/advertise">Advertise</a></li>
	<li>·<a href="http://9gag.com/faq">FAQ</a></li>
	<li>·<a href="http://9gag.com/tos">Terms</a></li>
	<li>·<a href="http://9gag.com/privacy">Privacy</a></li>
	<li>·<a href="http://9gag.com/contact" target="_blank" onclick="GAG.GA.track(&#39;Feedback&#39;, &#39;Clicked&#39;, &#39;Footer&#39;);">Contact</a></li>
</ul><!--end ul.footer-right-->

                </div>
            </div>
        </div>
        
	
        
</div><!--end div.side-dock-->

<div class="feedback-button">
    <a href="http://9gag.com/contact" target="_blank" onclick="GAG.GA.track(&#39;Feedback&#39;, &#39;Clicked&#39;, &#39;Sidebar&#39;);">Feedback</a>
</div>


</div>

<div id="footer" class="">
    
</div>

<a id="footer-back-to-top" class="WhiteButton badge-back-to-top offscreen">
    <strong>Back to Top</strong>
    <span></span>
</a>

<div id="overlay-shadow" class="hide"></div>
<div id="overlay-container" class="hide">

	
<div id="modal-report" class="modal-box hide">
	<div class="content">
 	   <a href="javascript:void(0);" class="close-btn"></a>
		<form id="form-modal-report" class="modal" action="" onsubmit="return false;">
			<h3>Report</h3>
			<h4>Why are you reporting this post?</h4>
			<input id="report_entry_id" type="hidden" name="entryId" value="">
			<div class="field">
				<label for="violation"><input id="violation" type="radio" name="report-reason" value="1"> Contains a trademark or copyright violation</label>
				<label for="solicitation"><input id="solicitation" type="radio" name="report-reason" value="2"> Spam, blatant advertising, or solicitation</label>
				<label for="offensive"><input id="offensive" type="radio" name="report-reason" value="3"> Contains offensive materials/nudity</label>
				<label for="repost"><input id="repost" type="radio" name="report-reason" value="4"> Repost of this post↓</label>
			</div>
			<div class="field">
				<input id="repost_link" type="text" class="text" placeholder="http://9gag.com/gag/post_ID">
			</div>
		</form>
	</div>
	<div class="actions">
		<ul class="buttons">
			<li><a class="cancel" href="javascript:void(0);">Cancel</a></li>
			<li><a class="button submit-button" href="javascript:void(0);">Send</a></li>
			<li class="hide"><a class="button loading" href="javascript:void(0);"></a></li>
		</ul>
	</div>
</div>

<div id="modal-share" class="modal-box hide">
	<div class="content">
 	   <a href="javascript:void(0);" class="close-btn"></a>
		<form id="form-modal-share" class="modal" action="">
				</form>
	</div>                
</div>


<div id="modal-language" class="modal-box hide">
	<div class="content">
		<a href="javascript:void(0);" class="close-btn badge-language-close"></a>
		<form id="form-modal-language" class="modal" action="" onsubmit="return false;">
			<h3>Languages</h3>
			<h4>Choose your language</h4>
			<div class="field">
												
				<label for="lang-en">
				<input id="lang-en" class="current" type="radio" name="lang-code" value="en" checked="checked">English
				</label>
								
				<label for="lang-zh">
				<input id="lang-zh" class="" type="radio" name="lang-code" value="zh">繁體中文
				</label>
								
				<label for="lang-zh_CN">
				<input id="lang-zh_CN" class="" type="radio" name="lang-code" value="zh_CN">簡體中文
				</label>
								
				<label for="lang-fr">
				<input id="lang-fr" class="" type="radio" name="lang-code" value="fr">français
				</label>
								
				<label for="lang-de">
				<input id="lang-de" class="" type="radio" name="lang-code" value="de">Deutsch
				</label>
								
				<label for="lang-ja">
				<input id="lang-ja" class="" type="radio" name="lang-code" value="ja">日本語
				</label>
								
				<label for="lang-es">
				<input id="lang-es" class="" type="radio" name="lang-code" value="es">Español
				</label>
								
				<label for="lang-pt">
				<input id="lang-pt" class="" type="radio" name="lang-code" value="pt">Português
				</label>
								
				<label for="lang-ru">
				<input id="lang-ru" class="" type="radio" name="lang-code" value="ru">Русский
				</label>
								
				<label for="lang-tr">
				<input id="lang-tr" class="" type="radio" name="lang-code" value="tr">Türkçe
				</label>
				
			</div>
		</form>
	</div>

	<div class="actions">
		<ul class="buttons">
			<li><a class="cancel badge-language-close" href="javascript:void(0);">Cancel</a></li>
			<li><a id="language-submit-button" class="button submit-button" href="javascript:void(0);">Update</a></li>
		</ul>
	</div>
</div>

			<div class="keyboard-instruction hide">
				<h3 id="keyboard-tips-title" data-title="9GAG Keyboard Shortcuts">9GAG Keyboard Shortcuts</h3>
				<div class="keyboard-img"></div>
				<ul class="key">
					<li><strong>R</strong> - random</li>
					<li><strong>C</strong> - comment</li>
					<li><strong>H</strong> - hate</li>
					<li><strong>J</strong> - next</li>
					<li><strong>K</strong> - previous</li>
					<li><strong>L</strong> - like</li>
				</ul>
				<p>Click anywhere to close</p>
			</div>

<div id="modal-tag" class="modal-box hide">
	<div class="content">
		<form id="form-modal-tag" class="modal" action="" onsubmit="return false;">
			<h3>Add tags</h3>
			<input id="tag_entry_id" type="hidden" name="entryId" value="">
			<div class="field">
			    <label>
			        <h4>Tags must describe the post</h4>
				    <input id="tag_input" type="text" class="text tag_input" name="tags" value="" rel="From-Hot" placeholder="e.g. chemisry cat, meme , joke, science" autocomplete="off">
				</label>
				<p class="info">Separate tags by commas</p>
				<p class="info error hide">A single tag can consist of less than 30 character only.</p>
			    <p id="tag_suggest"></p>
			</div>
		</form>
	</div>
	<div class="actions">
		<ul class="buttons">
			<li><a class="cancel" href="javascript:void(0);">Cancel</a></li>
			<li><a class="button submit-button" href="javascript:void(0);">Submit</a></li>
			<li class="hide"><a class="button loading" href="javascript:void(0);"></a></li>
		</ul>
	</div>
</div><div id="modal-success" class="success-overlay hide">
	<div class="big-icon"></div>
	<h3>Success!</h3>
</div><div id="modal-newsletter-sample" class="modal-box hide modal-newsletter">
	<div class="content">
		<a href="javascript:void(0);" class="close-btn badge-newsletter-close"></a>
		<img width="660" src="/assets/Landing.jpg">
	</div>
</div>


</div>




<input id="unlimitedScroll" type="hidden" value="1">

<div style="display:none;">
<span id="siteDomain">9gag.com</span>
<span id="backUrl">%2F</span>
<span id="fb-app-id">111569915535689</span>
<span id="fb-timeline-ns">ninegag</span>
<span id="fbTimelineApi">ninegag:laugh_at?funny_post</span>
<span id="fb-publish-granted">0</span>
<span id="fb-publish-enabled">0</span>
<span id="fb-timeline-granted">0</span>
<span id="fb-timeline-enabled">0</span>

<span id="user-safe-mode">1</span>
<span id="page-contents-safe">0</span>

<span id="known-email-domains">gmail.com,ymail.com,rocketmail.com,msn.com,windowslive.com,aol.com,hotmail.com,yahoo.com</span>

<span id="autoload-landing-max">20</span>
<span id="autoload-vote-max">22</span>


<span id="entryAge">996</span>
<span id="nsuon">1</span>
</div>









<ul class="autocompleter-choices" style="z-index: 501; opacity: 0; "></ul><ul class="autocompleter-choices" style="z-index: 42; opacity: 0; "></ul><script language="javascript" type="text/javascript" src="./assets/chartbeat.js"></script></body></html>



<div id="whole_page">
<% if current_user %>
  <br/>
  <% if current_user.images.count == 0 %>
    You don't have any uploaded images!
  <% elsif current_user.images.count == 1 %>
    You have 1 uploaded image!
  <% else %>
  You have <%= current_user.images.count %> uploaded images!
  <% end %>
  <p>
  Would you like to upload a new one?
  </p>

  <%= form_for @image, :url => images_path, :html => { :multipart => true } do |form| %>
    <%= form.file_field :picture %>
    <%= form.submit "Upload" %>
  <% end %>


  <% end %>



<hr/>



</div>
