<%  if current_user %>
<h1>Your PROFILE</h1>
Comments (<%= current_user.microposts.count %>)
<br/>
Uploaded images (<%= current_user.images.count %>)
<hr/>
<br/>
<%if current_user.admin?%>
Admin
<%else%>
User
<%end%>
<br/><br/>
<hr/>
Name: <%= current_user.name.capitalize %>
<br/>
Email: <%= current_user.email %>
<br/>


<h1><%=  gravatar_for(current_user) %></h1>
<br/>
<%= link_to "Delete your profile", user_path(current_user.id), :method => :delete %>
<% end %>