
<% @images.each do |image| %>
<% if current_user %>
<b class="mini_view">Uploaded by:
<% @users.each do |user| %>
  <% if user.id == image.user_id %>
    <%= link_to user.name.capitalize, user_path(image.user_id)%></b>
  <% end %>
<% end %>

<br/>
<% end %>
<%= link_to(image_tag(image.picture.url(:medium)),image) %>

<% if current_user && current_user.admin?%>
  <%= form_for image, :url => image, :html => { :method => :delete } do |f|%>
    <div class="button">
      <%= f.submit "Delete" %>
    </div>
  <% end %>
<% end %>

<% if current_user %>
  
    <%= form_for image, :url => image_like_path(image) do |f|%>
      <div class="text">
        <% if !image.likes.to_a.include?(current_user.id) && !image.unlikes.to_a.include?(current_user.id)%>
          <%= f.submit 'Like' %>
        <% end %>
        <%if image.likes.to_a.count == 0%>
          Nobody likes this image! :(
        <%elsif image.likes.to_a.count == 1%>
          1 person likes this image!
        <%else%>
          <%= image.likes.to_a.count %> people like this image!
        <% end %>
      </div>
    <% end %>

    <%= form_for image, :url => image_dislike_path(image) do |f|%>
      <div class="text">
        <% if !image.unlikes.to_a.include?(current_user.id) && !image.likes.to_a.include?(current_user.id)%>
          <%= f.submit 'Dislike' %>
        <% end %>
        <%if image.unlikes.to_a.count == 0%>
          Nobody dislikes this image!
        <%elsif image.unlikes.to_a.count == 1%>
          1 person dislikes this image!
        <%else%>
          <%= image.unlikes.to_a.count %> people dislike this image!
        <%  end %>
      </div>
    <%  end %>
     
<br/>

    Comments ( <%= image.microposts.count %> )
   
    <%= form_for [image,@micropost] do |comment| %>
      <div class="field">
        <%= comment.text_area :content, placeholder: "Compose new comment..." %>
      </div>
      <%= comment.submit "Comment" %>
    <% end %>

<br/>
       
    <% @microposts.each do |m| %>
       
       <% if(m.image_id == image.id) %>
        <% if (m.user_id == current_user.id || current_user.admin?)%>
        
         <%= link_to "Delete", image_micropost_path(image, m),:method => :delete %>
    
            

        <% end %>

          <% @users.each do |user| %>
            <%if(user.id == m.user_id)%>
              <%= user.name.capitalize %>
            <% end %>
          <% end %>

        says: <b style="color: maroon;"> <%= m.content%></b>
  <br/>
         
       <% end %>
      <% end %>
<% end %>

<br/>
<hr/>

<% end %>
   
