<!DOCTYPE html>
<html>
  <head>
    <title>9GAG - Just for Fun!</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>


    <meta name="title" content="9GAG - Just for Fun!">

    <meta name="keywords" content="9gag,jokes,interesting, cool,fun collection, fun portfolio, admire,fun,humor,humour,just for fun,笑圖,笑片,搞笑,搞gag,笑話">
    <meta name="description" content="9GAG is the easiest way to have fun!">


    <meta property="og:title" content="Just for Fun!">
    <meta property="og:site_name" content="9GAG">
    <meta property="og:url" content="http://9gag.com/">
    <meta property="og:description" content="9GAG is the easiest way to have fun!">

    <meta property="og:type" content="blog">


    <meta property="og:image" content="http://d24w6bsrhbeh9d.cloudfront.net/img/9gag-fb-pic.png">


    <link rel="canonical" href="http://9gag.com/hot">
    <link rel="stylesheet" href="/assets/screen.css" media="screen,projection" type="text/css">
    <link rel="stylesheet" href="/assets/social-buttons.css" media="screen,projection" type="text/css">


</head>
<body>
  <%= render "layouts/header"%>
    <div id="nav">
      <div class="left">
    <%= link_to "Home", root_path, id: "link2"%> |
    <%= link_to "Help", help_path, id: "link2"%> |
    <%= link_to "About", about_path, id: "link2" %>
      </div>
    

      <div class="right">
    <% if current_user %>
        
      Hello <%= link_to current_user.name.capitalize, profile_path, id: "link2"%>!
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, id:"link2" %>
  
  <% else %>

  Please <%= link_to "sign_in", new_user_session_path, id: "link2" %> or
  <%= link_to "sign_up", new_user_registration_path, id: "link2" %>!

 <% end %>
      </div>
    


<%= notice %>
<%= alert %>
</div>
<br/>
<%= yield %>
  
<br/>
<%= render 'layouts/footer' %>
<br/>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
